/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 27, 2013, 11:29:53 PM
    Author     : sagar
*/

.wrapper
{
    padding: 0 25px;
}

#map-canvas-and-navpoints
{
    /*Debugging: To be removed*/
/*     border: 1px solid black;*/
     margin-bottom: 10px;
}


#text-above-map
{
    /*Debugging: To be removed*/
     border: 1px solid black;
     margin-bottom: 10px;
}

#map-canvas
{
    height: 600px;
}
#navpoints
{
    height: 600px;
}

#navpoint-search
{
    margin-bottom: 10px;
}

#navpoint-text
{
    height: 500px;
    margin-bottom: 10px;
    background-color: white;
}

.tab-content
{
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 10px;
    height: 400px;
    margin-bottom: 10px;
}

th
{
    text-align: center;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
/*    width: 400px; */
    height: 300px;
}

.dgrid-header .dgrid-cell
{
text-align: center;
vertical-align: middle;
}

.dgrid-content .dgrid-cell
{
text-align: center;
vertical-align: middle;
}

#navgrid
{
    height: 350px;
}

.dgrid-scroller
{
    position: relative;
    overflow: auto;
}

#navgrid .field-wd, .field-alt, .field-tt, .field-tas, .field-wca,
    .field-th, .field-var, .field-mh, .field-dev, .field-ch,
    .field-dleg, .field-dacc, .field-gs, .field-tint, .field-tacc, .field-teto
{
    width: 5%
}
#navgrid .field-ws
{
    width: 7%
}